*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


/* ####### header banner start ########  */
.banner_section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
   

}
.header_banner{
    display: flex;
    background-color: #161616;
    color: #fff;
    width: 85%;
   height: 85%;
   border-radius: 20px;
   justify-content: center;
   align-items: center;
}
.banner_text{
    padding-left: 80px;
   
}
.banner_text h1 {
    font-size: 70px;
    font-weight: 700;
    width: 70%;
    line-height: 65px;

}
.banner_text p{
    width: 60%;
    font-size: 16px;
    line-height: 22px;
    margin-top: 10px;
}
.banner_text a{
    display: inline-block;
    text-decoration: none;
    padding: 15px  30px;
    background-color: #dd0000;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    margin-top: 15px;
}
.banner_text a .fa-solid{
    color: blue;
    padding-left: 10px;
    font-size: 16px;
}
.banner_image {
    padding-right: 70px;
}
.banner_image img{
   width: 80%;
     
}
/* ####### header banner end ########  */


/* =======blog section start========= */
.blog{
    display: flex;
    gap: 20px;
}
.blog .match_scedeul {
	width: 250px;
	height: 215px;
	background-color: black;
	text-align: center;
	border-radius: 10px;
	margin-left: 104px;
}
.blog .match_scedeul a {
	font-size: 20px;
	display: inline-block;
	background-color: #fff;
	margin-top: 20px;
	text-transform: capitalize;
	width: 191px;
	text-decoration: none;
	color: #161616;
	border-radius: 10px;
	height: 45px;
	line-height: 39px;
}




.players_blog{
    background-color: aqua;
    /* width: 100%; */
}
/* .players_blog .layers_blog_1{} */
.blog_text{
    padding: 10px 20px;
}
.blog_btn{
    color: #000;
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    border: 1px solid #161616;
    padding: 5px 15px;
    border-radius: 5px;
    margin-bottom: 15px;
}
.blog_sample_text{
    font-size: 18px;
    font-weight: 500;
    color: #161616;
    margin-bottom: 15px;
}

/* =======blog section end========= */